header {
  height: 520px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:	#b2bbd9;
  background-image: url(https://www.transparenttextures.com/patterns/arches.png)
  
}

header .profile-img{
  
  margin-top: 132px;
}

.bold {
  font-weight: 600;
}

@media only screen and (min-width: 1024px) {
  .top-header {
    height: 20em;
    width: 20em;
    margin: 1.5em 1em 0 0;
  }
}